*.log
.DS_Store
.vscode/


test.py
build/
dist/
venv/
outputs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# node
node_modules/


*.egg-info/


.tox

.env
secret.py
inscrawler/bin/*
!inscrawler/bin/.keep